<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sobre Mim</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/img/foto_perfil.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-title>Gabriel</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Sou um apaixonado por tecnologia e desenvolvimento mobile. Estudo Ionic, Angular, HTML, CSS e JavaScript para
        criar aplicativos incríveis.</p>
    </ion-card-content>
  </ion-card>
</ion-content>