<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Habilidades</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>HTML</ion-label>
      <ion-progress-bar value="0.9"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-label>CSS</ion-label>
      <ion-progress-bar value="0.85"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-label>JavaScript</ion-label>
      <ion-progress-bar value="0.8"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-label>Angular</ion-label>
      <ion-progress-bar value="0.75"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-label>Ionic</ion-label>
      <ion-progress-bar value="0.7"></ion-progress-bar>
    </ion-item>
  </ion-list>
</ion-content>
